h1 {
	text-align: center;
}


.desc {
	border: 1px solid black;
	position: relative;
	background-color: grey;
	height:auto;
	width: 90%;
	padding-left:10px;
	margin-left:10px;

}
.col-md-6 {
	padding-bottom: 20px;
}

.deschead {
	position: relative;
	float: right;
	border:1px solid black;
	height: 25px;
	width: 20%;
	text-align: center;
	padding-right: 14px;
	padding-left: 10px;

}

#chicken {
	background-color: #ffc0cb;
}

#beaf {

	background-color: #e7042b;
	color: white;
}

#sushi {
	background-color: #f2dea6;
}

p {
	height:auto;
	width:80%;
	margin-left:12px;
}


@media (min-width: 991px){
	.col-lg-4 {
		float:left;
		width:33%;
	}
	
}
@media (min-width:750px) and (max-width: 990px){
	.col-md-12,.col-md-6 {
		float:left;
	} 
.col-md-6{
	width:50%;
}
.col-md-12{
	width:100%;
}
}
